#about {
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-image{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.about-image img{
    width: 90%;
}

.about-section{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 1.2rem;
}