#contact{
    font-family: var(--font);
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    background: rgb(241, 240, 240);
    padding: 0rem 4rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.icon {
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
    position:static;
    transition: transform 0.2s ;
}

.icon:hover {
    transform: scale(1.15);
}



@media only screen 
and (max-device-width : 736px){
    
    .email{
        font-size: medium;
    }

    #contact h2{
        font-size: 1.5rem;
    }
    
}