#hero {
    font-family: 'Source Code Pro', monospace;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    background: rgb(241, 240, 240);
    font-weight: 400;
    /* color: blue;  */
    padding: 0rem 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.hero-text{
    font-size: 3.6rem;
}

.name-text{
    color: blue;
}

.hero-btn{
    display: inline-block;
    position: relative;
    padding: 0.8rem ;
    font-weight: bold;
    line-height: 1;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
    font-size: 1.5rem;
}

.hero-btn::after{
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

.hero-btn--hero{
    background-image: linear-gradient(135deg, blue 0%, blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(135deg, blue 0%, blue 100%);
    border-image-slice: 1;
    cursor: pointer; 
}